body {
    background-color: gray;

}
.header {
    width: 100%;
    height: 50px;
}
.tag-a {
    text-align: start;
}
.a-a{
    padding: 10px;
    margin:10px ;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    
    position: relative;
    top: 15px;
}
.donyt{
    position: relative;
    right: 93vw;
    width: 100px;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid black;
   
}

@media screen and ( min-width: 320px ) and (max-width:480px ) {
      
.donyt{
    position: relative;
    right: 9vw;
    width: 100px;
    text-align: center;
    border-radius: 10px ;
    border: 2px solid black;
    
    
}
.hed-suport {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

}