body{
    height: 100vh;
}
.header{
    background: linear-gradient(to right , #98b0a3,#779385,#587467,#455c51);
    width: 100%;
    height: 15%;
    text-align: center;
}
.main{
    width: 100%;
    height: 75%;
    background-image: url(/images/car/34.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccb57c;
    background-blend-mode: hard-light;
}
.footer{
    width: 100%;
    height: 10%;
    background-image: url(/images/car/83.jpg);
    background-position: center;
    background-size: cover;
    
}